nav
  div.nav-wrapper.headcolor
    img(src='../../images/piknik_logo.jpg') 
    a.brand-logo(href='/') Piknik
      a.right.button-collapse(href='#', data-activates='nav-mobile')
        i.mdi-navigation-more-vert
      ul#nav-mobile.right.hide-on-med-and-down
        li: a(href='/explore') Explore
        li: a(href='/about') About
        li: a(href='/contact') Contact
        li: a(href='/List').btn#listHeader Shopping Cart

