extends layout

body
  block content
    .container
      h2.center.
        Welcome to Piknik!
      h5.
        Are you a young professional with a busy schedule? Are you a parent and don’t want to deal with the hassle of taking kids to the store? Are you elderly and leaving the house is a problem? <br /><br />
        Grocery shopping can be a hassle and takes time for everyone. Piknik makes your life easier by doing the grocery shopping for you. Just fill out your shopping list online and our Piknik delivers will take care of the rest. <br /><br />
        Our wonderful Piknik deliverers are Diane, Nelson, Mitchell and Britnee who will ensure they’ll pick up every item from your shopping list and deliver it to your doorstep with a smile.

script(src='/public/app.js')
